services:
  mlflow_test_service:
    build:
      context: .
      dockerfile: Dockerfile.tests
    environment:
      - MINIO_API_PORT=9000
      - MINIO_CONSOLE_PORT=9001
      - MINIO_ROOT_USER=minio_user
      - MINIO_ROOT_PASSWORD=minio_password
      - MLFLOW_SERVER_PORT=5009
      - ARTIFACTS_PATH=/mlflow/artifacts
      - TRACKING_URI=http://localhost:5000

    networks:
      - test_network

networks:
  test_network:
    driver: bridge