services:
  mlflow-logger:
    build:
      context: .
      dockerfile: Dockerfile.logger
    env_file:
      - .env
    networks:
      - tpp-network

  sessions-db:
    container_name: sessions-db
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres_data_mlflow_logger:/var/lib/postgresql
    healthcheck:
      test: bash -c 'pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"'
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - tpp-network

volumes:
  postgres_data_mlflow_logger:

networks:
  tpp-network:
    external: true
